body{
    background: #afc3cc;
    font-family:  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
h1{
    color: #fff;
}
div{
    margin: 10px;
}
.kotak1{
    background: rgb(122, 52, 52);
    width: 100px;
    height: 100px;
    transition: width 1s;
    -webkit-transition: width 1s;
}
.kotak1:hover{
    width: 300px;
}
.kotak2{
    background: rgb(133, 56, 56);
    width: 100px;
    height: 100px;
    transition: width 1s, height 2s;
    -webkit-transition: width 1s, height 2s;
}
.kotak2:hover{
    width: 300px;
    height: 300px;
}